.album {
    margin: 15px 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.album a {
    display: block;
    position: relative;
}

.album a img {
    position: relative;
}

/* --- Label configuration -------------------------------------------------------------- */
.album a span {
    font-size: 1.2em;
    font-weight: bold;
    height: 100%;
    padding-top: 120px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}

.album a span em {
    font-size: 0.45em;
    font-weight: normal;
}

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}

.dark-background em {
    color: #ccc;
}

/**
 * You could create multiple hover background classes for different looks depending on the
 * image type. Use your imagination!
 */