* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

html, body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

@font-face {
    font-family: Calibrii;
    src: url("/assets/fonts/Calibrii/calibrii.woff");
}

@font-face {
    font-family: Slider;
    src: url("/assets/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

body {
    background: url("/assets/img/clouds.jpg") bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#fade {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #255580;
    text-align: center;
    z-index: 100;
}

#fade .clouds {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url("/assets/img/full.png") center bottom;
}

#fade img {
    display: none;
    position: relative;
    top: 50%;
    margin-top: -150px;
    z-index: 200;
}

#wrap {
    width: 1300px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -190px !important;
    padding: 0 !important;
}

#banner {
    width: 1000px;
    height: 340px;
    margin: 0 auto;
    background: url("/assets/img/brown.png");
    padding: 10px;
}

#head-con {
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 100;
}

#header {
    height: 200px;
    width: 1280px;
    margin: 0 auto;
}

#container {
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    min-height: 500px;
    overflow: auto;
    background: url("/assets/img/white.png");
}

#logo {
    float: left;
}

#lang {
    position: relative;
    top: -40px;
    left: 130px;
    color: #ff6600;
    font-size: 16px;
    font-weight: bold;
}

#lang a {
    color: #fff;
    font-size: 16px;
    font-family: Calibrii;
    text-decoration: none;
    font-weight: normal;
}

#lang a.active {
    font-weight: bold;
}

#lang a:hover {
    color: #eee;
}

#header-right {
    float: right;
    margin-top: 30px;
    color: #fff;
    padding: 10px;
    background: url("/assets/img/white.png");
    font-family: "Calibri";
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

#header-right ul {
    list-style-type: none;
}

#header-right ul li {
    display: inline-block;
    background: #005caf;
}

#header-right ul.hmenu li:hover, #header-right ul.hmenu li.active {
    background: #ff4300;
    cursor: pointer;
}

#header-right ul.hmenu li {
    padding-right: 10px;
    position: relative;
}

#header-right i {
    width: 40px;
}

#header-right ul.submenu {
    display: none;
    list-style: none;
    position: absolute;
    padding-top: 11px;
}

#header-right ul li:hover ul.submenu {
    display: block;
}

#header-right ul.submenu li {
    color: #000;
    width: 140px;
    padding: 1px;
    font-weight: bold;
    font-family: Verdana;
    border-top: 1px solid #646464;
    background: url("/assets/img/white.png");
}

#header-right ul.submenu li:nth-child(1) {
    border-top: 0px;
    padding-top: 0px;
}

#header-right ul.submenu li:hover {
    color: #fff;
    background: #333;
}

.clear {
    clear: both;
}

#left-con {
    float: left;
}

#left-con {
    margin-top: 38px;
}

#left-con ul {
    text-align: left;
    list-style-type: none;
    font-family: Calibrii;
    font-size: 19px;
}

#left-con ul a {
    color: #666;
    text-decoration: none;
    padding: 5px;
}

#left-con ul li {
    height: 33px;
    width: 110px;
    margin-top: 5px;
    line-height: 33px;
    padding-left: 30px;
}

#left-con ul li:hover a {
    cursor: pointer;
    color: #333;
}

#left-con ul li:nth-child(1) {
    color: #fff;
    color: #fff;
    width: 176px;
    height: 51px;
    cursor: auto;
    border: 0px;
    line-height: 51px;
    text-align: center;
    padding-left: 10px;
    background: url(/assets/img/lm.png) no-repeat;
}

#right-con {
    float: right;
    width: 720px;
    font-family: Calibrii;
    font-size: 16px;
    color: #111;
    margin-bottom: 20px;
    margin-top: 20px;
}

.context {
    margin: 25px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    margin-top: 30px;
    background: url(/assets/img/line.png) bottom no-repeat;
}

.context:nth-child(4) {
    background: none;
}

.con-left {
    float: left;
}

.con-left h1 {
    font-size: 27px;
    font-weight: normal;
    margin-left: -3px;
    font-family: Verdana;
    color: #333;
    margin: 0px;
}

.con-left h5 {
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

.con-left p {
    margin-top: 5px;
    color: #666;
}

.con-left p i {
    padding-right: 10px;
    font-size: 14px;
}

.con-right h5 {

    margin-top: 13px;
    float: right;
    font-size: 16px;
    font-weight: normal;
    color: #555;
}

.con-data-cat
{
	margin-bottom: 35px;
}

.con-date-cat {
    margin-bottom: 20px;
}

.con-date-cat p {
    float: left;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana;
    color: #444;
    text-shadow: 0px 0px 1px #B8B8B8;
}

.con-date-cat p i {
    font-size: 14px;
    padding-right: 10px;
}

.con-date-cat h5 {
    float: right;
    color: #555;
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana;
    color: #444;
    text-shadow: 0px 0px 1px #B8B8B8;
}

.con-right span {
    color: #111;
}

.con-right i {
    color: #444;
    font-size: 13px;
}

.con-body {
    margin-left: 220px;
    font-size: 15px !important;
    font-family: Verdana;
}

.con-img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 5px;
    overflow:hidden;
    border: 1px solid #888;
    margin-top: 4px;
    border-radius: 5px;
}

.con-img img {

}

.con-fleft {
    float: left;
    color: #666;
    margin-left: 10px;
}

.con-fleft i {
    font-size: 14px;
}

.con-fright {
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}

.con-fright a {
    color: #fd6603;
    text-decoration: none;
    font-family: Verdana;
    margin-bottom: 20px;
}

.con-fright a:hover {
    color: #111;
}

#footer {
    width: 100%;
    height: 190px;
    background: url("/assets/img/black.png");
    border-top: 4px solid #666;
    text-align: center;
}

#footer, .push {
    clear: both;
    height: 190px;
}

#footer p {
    color: #ddd;
    margin: 0;
    font-family: Calibrii;
}

#footer i {
    font-size: 30px;
    margin: 1px;
}

#footer a {
    color: #ddd;
    text-decoration: none;
}

#footer a:hover {
    color: #eee;
}

#ftlogo {
    height: 122px;
    width: 675px;
    margin: 0 auto;
    background: url("/assets/img/footer.png");
}

#fbox img {
    width: 185px;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #888;
}

#contact {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

#contact h1.title {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

#contact .con-text {
    float: left;
    width: 120px;
}

#contact .con-text p {
    font-size: 18px;
    margin-top: 34px;
}

#contact .con-input {
    margin-top: 4px;
}

#contact .con-input input,
#contact .con-input textarea {
    width: 280px;
    padding: 8px;
    margin-top: 20px;
    border: 1px solid #bbb;
}

#contact .con-input textarea {
    width: 380px;
    height: 180px;
    resize: none;
}

#contact .con-input {
    float: left;
}

#contact input.send {
    width: 140px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font: 15px Calibri;
    background: #fe6803;
    border: 1px solid #df5e08;
    text-decoration: none;
}

#contact input.send:hover {
    background: #ff8332;
}

#contact input.send:active {
    background: #df5e08;
}

.slider-con {
    margin: 0 auto;
    display: block;
    width: 1000px;
}

.sli-con {
    float: left;
    font-family: Slider;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
    background: url("/assets/img/sli-div.png");
    padding: 15px;
    position: relative;
    margin-top: 90px;
    margin-left: 90px;
}

.sli-con h1 {
    font-size: 38px;
    color: #fff;
    font-weight: normal;
    line-height: 1.4;
}

.sli-con p {
    font-size: 21px;
    color: #fff;
}

.carousel-fade
.carousel-inner
.item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade
.carousel-inner
.item.active {
    opacity: 1;
}

.carousel-fade
.carousel-inner .active.left,
.carousel-fade
.carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade
.carousel-inner .next.left,
.carousel-fade
.carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade
.carousel-inner .carousel-control {
    z-index: 2;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item img {
    width: 1000px;
    height: 340px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ReadableText {
    margin-top: 10px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
    text-rendering: optimizeLegibility;
}

.ReadableText p {
    text-indent: 40px;
}

.ReadableText a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.ReadableText a:hover {
    text-decoration: underline;
}

.ReadableText img {
    float: left;
    width: 200px;
    padding: 5px;
    margin-top: 4px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #888;
}

.white-trans-border {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}


.slide {
    cursor: pointer;
}

.pull-left {
font-size: 14px;
font-weight: normal;
font-family: Verdana;
color: #444;
text-shadow: 0px 0px 1px #B8B8B8;}

.pull-right {
font-size: 14px;
font-weight: normal;
font-family: Verdana;
padding-right: 20px;
color: #444;
text-shadow: 0px 0px 1px #B8B8B8;
}

.carousel-inner img
{
	background-position: center center;
}