.video {
    margin: 15px 0;
}

/* --- Link configuration that contains the image and label ----------------------------- */
.video a {
    display: block;
    position: relative;
}

.video a img {
    position: relative;
}

/* --- Label configuration -------------------------------------------------------------- */
.video a span {
    font-size: 1.2em;
    font-weight: bold;
    height: 100%;
    padding-top: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 100%;
    z-index: 100;
}

.video a span em {
    font-size: 0.45em;
    font-weight: normal;
}

/* --- Dark hover background ------------------------------------------------------------ */
.dark-background {
    background-color: rgba(15, 15, 15, 0.3);
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}

.dark-background em {
    color: #ccc;
}
